//
// Typography Styles
// Color, Size, Weight and etc.
//


//
// Global Styles
//

body {
	color: map-get($colors, 'paragraph');
	font-family: map-get($enTypography, 'font-family');
	font-size: map-get($enTypography, 'font-size');

	&.is-fa {
		font-family: map-get($faTypography, 'font-family');
		font-size: map-get($enTypography, 'font-size');
	}
}


//
// Styling heading: h1-h6
//

%headingStyles {
	color: map-get($colors, 'heading');
	margin-top: 0;
	margin-bottom: map-get($gutters, 'base');
}

@for $i from 1 through 6 {
	h#{$i} {
		@extend %headingStyles;
	}
}


//
// Styling Anchors
//

a {
	padding-right: 3px;
	padding-left: 3px;
	transition: all 100ms ease-out;
	text-decoration: none;
	color: map-get($colors, mainLink);

	&:hover {
		background-color: map-get($colors, mainLink);
		color: #fff;
	}
}	

%containerAnchor {
	background-color: map-get($colors, innerLink);
	color: #fff;
}

.container {

	a {
		color: map-get($colors, innerLink);

		&:hover {
			@extend %containerAnchor;
		}
	}	
}